html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  background-color: #363636;
}

.container {
    position: relative;
    max-width: 379px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
}

.header .header_title {
    padding-top: 60%;
    text-align: center;
  }